[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 16.0
[submodule "addons/OCA/web"]
	path = addons/OCA/web
	url = git@github.com:OCA/web.git
	branch = 16.0
[submodule "odoo-stubs"]
	path = odoo-stubs
	url = git@github.com:odoo-ide/odoo-stubs.git
	branch = 16.0
